body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    max-width: 1100px;
}

.main__title {
    margin-bottom: 50px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

input {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
}